* {
  box-sizing: border-box;

}

html {
  background-color: #121212;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #121212;
  background-color: #121212;
  position: relative;
}


#Logo{
  position: fixed;
  top: 2em;
  left: 1.6em;
  background-color: transparent;
  z-index: 100;
}

#Navigation{
  position: fixed;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 100;
}

#ContactLinks{
  position: fixed;
  top: 2em;
  right: 3em;
  background-color: transparent;
  z-index: 100;
}

main {
  flex: 1;
  background-color: transparent;
  position: relative;
  z-index: 10;
}

.page-transition {
  animation: page-fade-in 480ms ease;
  will-change: opacity;
}

@keyframes page-fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 960px) {
  #Logo {
    left: 2em;
    top: 1.3rem;
    position: relative;
  }

  #ContactLinks {
    top: 4.7rem;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  #Navigation {
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 720px) {
  #Logo {
    top: 1rem;
  }

  #ContactLinks {
    top: 4.2rem;
  }

  #Navigation {
    top: 7.4rem;
  }
}
